.customCursor {
  cursor: url('/feline-track.png') 16 16 , auto;
}

.InParaImageTXT{
  padding: 0%;
}


.slideLoop {
  display: inline-block;
  animation: slideLoop 5s ease-in-out infinite;
  font-family: 'Baloo 2', cursive;
}

@keyframes slideLoop {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(40px);
  }
}

@media (max-width: 800px){
  .InPara{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .InPara2 .InParaImageTXT .InParaImage{
    order: 2;
  }
  .InPara2 .InParaTXT{
    order: 1;
  }
  
}
@media (max-width: 360px){
  .InParaImage{
    width: 230px;
  }
}