.nav {
  width: 40px;
  height: 56px;
  position: relative;
  
  justify-content: center;
  align-items: center;
}

.checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.icon {
  fill: none;
  stroke: white;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.line1 {
  stroke-dashoffset: 221;
  stroke-dasharray: 46 249;
  transition: all .2s ease;
}

.checkbox:checked + .icon .line1 {
  stroke-dashoffset: 175;
  stroke-dasharray: 0 295;
  opacity: 0;
}

.line2 {
  animation: reverseStroke 1.2s ease-out forwards;
}

.checkbox:checked + .icon .line2 {
  animation: stroke 1.2s ease-out forwards;
}

@keyframes stroke {
  0% { stroke-dashoffset: 295; stroke-dasharray: 25 270; }
  100% { stroke-dashoffset: 68; stroke-dasharray: 59 236; }
}

@keyframes reverseStroke {
  0% { stroke-dashoffset: 68; stroke-dasharray: 59 236; }
  100% { stroke-dashoffset: 290; stroke-dasharray: 25 270; }
}

.hidden {
  display: none;
}
