
.nav {
  width: 40px;
  height: 40px;
  position: relative;
}

.nav span,
.nav span::before,
.nav span::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: white;
  left: 0;
  transition: 0.3s;
  content: '';
}


.nav span {
  top: 50%;
  transform: translateY(-50%);
}

.nav span::before {
  top: -10px;
}

.nav span::after {
  top: 10px;
}

.open {
  background: transparent;
}

.open::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.open::after {
  transform: rotate(-45deg) translate(5px, -5px);
}

.customCursor {
  cursor: url('/feline-track.png'), auto;
}
